{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Movie Style</title>
		<meta charset="utf-8" />
		<link rel="icon" href="{% static 'images/logo.png' %}" type="image/png" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	</head>

	<body class="is-preload">

		<!-- Header -->
		<header id="header">
			<img src="{% static 'images/film-slate.png' %}" alt="logo" class="header-logo">
			<h1>Movie Style</h1>
			<p>En esta página podrás encontrar toda la información de películas que necesites.</p>
		</header>

		<!-- Formulario para añadir película -->
		<div class="container">
			<h2>Añadir Película</h2>
			<form id="add-film-form" method="post" action="#">
				<input type="text" name="film" id="film" placeholder="Film Name" required />
				<input type="text" name="director" id="director" placeholder="Director" required />
				<input type="text" name="year" id="year" placeholder="Year" required />
				<input type="text" name="genre" id="genre" placeholder="Genre" required />
				<input type="submit" value="Add Film" />
			</form>
		</div>

		<!-- Buscar Película -->
		<div class="container">
			<h2>Buscar Película</h2>
			<input type="text" id="searchInput" class="search-box" placeholder="Buscar película..." />
			<form>
				<label>
					<input type="radio" name="campo" value="Film-Name" checked />
					Film Name
				</label><br />
				<label>
					<input type="radio" name="campo" value="Director" />
					Director
				</label><br />
				<label>
					<input type="radio" name="campo" value="Year" />
					Year
				</label><br />
				<label>
					<input type="radio" name="campo" value="Genre" />
					Genre
				</label>
			</form>
		</div>

		<!-- Botones para buscar y eliminar películas -->
		<div class="container">
			<form id="search-movie" method="post" action="#">
				<input type="submit" value="Search" />
			</form>
			<form id="delete-movie" method="post" action="#">
				<input type="submit" value="Delete" />
			</form>
		</div>

		<!-- Tabla de películas -->
		<div class="container">
			<table class="table" id="movieTable">
				<thead>
					<tr>
						<th>Film Name</th>
						<th>Director</th>
						<th>Year</th>
						<th>Genre</th>
					</tr>
				</thead>
				<tbody id="movieTableBody">
					<!-- Aquí se añadirán las filas dinámicamente -->
				</tbody>
			</table>
		</div>

		<!-- Reviews de películas -->
		<h2>Reviews de Películas</h2>

		<!-- Agregar review -->
		<div>
			<h3>Añadir Review</h3>
			<form id="add-review-form" method="post" action="#">
				{% csrf_token %}
				<input type="text" name="film-name" id="film-name" placeholder="Nombre de la película" required />
				<textarea name="review" id="review" placeholder="Escribe tu review aquí..." rows="5" required></textarea>
				<input type="submit" value="Añadir Review" />
			</form>
		</div>

		<!-- Buscar reviews -->
		<div>
			<h3>Buscar Reseñas</h3>
			<form id="searchReviewForm">
				<input type="text" id="reviewInput" placeholder="Buscar por nombre de película..." />
				<input type="submit" value="Buscar" />
			</form>
			<ul id="searchReviewResults"></ul>
		</div>

		<!-- Tabla para mostrar reviews -->
		<div>
			<h3>Todas las Reseñas</h3>
			<table class="table" id="reviewTable">
				<thead>
					<tr>
						<th>Película</th>
						<th>Review</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody id="reviewTableBody">
					<!-- Aquí se añadirán las filas dinámicamente -->
				</tbody>
			</table>
		</div>

		<!-- Scripts -->
		<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-analytics.js"></script>
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>
